<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Предмет
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous")
    link(rel="stylesheet", href="css/libs.min.css")
    link(rel="stylesheet", href="css/owl.carousel.min.css")
    link(rel="stylesheet", href="css/styles.css")

  body
    include ./header
    section.delivery
      .container
        .title__wrap
          h2 Календарь
        .calendar
          .calendar__panel
            a(href="").calendar__panel--curent-day Сегодня
            ul.calendar__panel--menu
              li.active
                a(href="") Месяц
              li
                a(href="") Неделя
              li
                a(href="") День
          .calendar__wrap.owl-carousel
            .calendar__wrap--item
                span.calendar__wrap--title Август 2017
              
                span.calendar__wrap--item-title Пн
                span.calendar__wrap--item-title Вт
                span.calendar__wrap--item-title Ср
                span.calendar__wrap--item-title Чт
                span.calendar__wrap--item-title Пт
                span.calendar__wrap--item-title Сб
                span.calendar__wrap--item-title Вс
                .calendar__wrap--item-day.curent 31
                .calendar__wrap--item-day.curent 1
                .calendar__wrap--item-day.curent 2
                .calendar__wrap--item-day.curent 3
                .calendar__wrap--item-day.curent 4 
                .calendar__wrap--item-day.curent 5
                .calendar__wrap--item-day.curent 6
                .calendar__wrap--item-day.curent 7
                .calendar__wrap--item-day.curent 8 
                .calendar__wrap--item-day.curent 9
                .calendar__wrap--item-day.curent 10
                .calendar__wrap--item-day.curent 11
                .calendar__wrap--item-day.curent 12
                .calendar__wrap--item-day.curent 13
                .calendar__wrap--item-day.curent 14
                .calendar__wrap--item-day.curent 15
                .calendar__wrap--item-day.curent 16
                  span.calendar__wrap--item-event
                    | Дедлайн. Дизайн
                .calendar__wrap--item-day.curent 17
                .calendar__wrap--item-day.curent 18
                .calendar__wrap--item-day.curent 19
                .calendar__wrap--item-day.curent 20
                .calendar__wrap--item-day.curent 21
                .calendar__wrap--item-day.curent 22
                .calendar__wrap--item-day.curent 23
                .calendar__wrap--item-day.curent 24
                .calendar__wrap--item-day.curent 25
                .calendar__wrap--item-day.curent 26
                .calendar__wrap--item-day.curent 27 
                .calendar__wrap--item-day.curent 28
                .calendar__wrap--item-day.curent 29
                .calendar__wrap--item-day.curent 30 
                .calendar__wrap--item-day.curent 31
                .calendar__wrap--item-day 1
                .calendar__wrap--item-day 2
                .calendar__wrap--item-day 3
                .calendar__wrap--item-day 4
                .calendar__wrap--item-day 5
                .calendar__wrap--item-day 6 
                .calendar__wrap--item-day 7
                .calendar__wrap--item-day 8
                .calendar__wrap--item-day 9 
                .calendar__wrap--item-day 10
            .calendar__wrap--item
              h3 Август 2017
              .calendar__wrap--item-title 
          .calendar__wrap--mobile
            .calendar__wrap--mobile-item
              .calendar__wrap--mobile-panel
                
              .calendar__wrap--mobile-day
                span.calendar__wrap--mobile-title Пн,16
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
              .calendar__wrap--mobile-day
                span.calendar__wrap--mobile-title Пн,16
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
              .calendar__wrap--mobile-day
                span.calendar__wrap--mobile-title Пн,16
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
              .calendar__wrap--mobile-day
                span.calendar__wrap--mobile-title Пн,16
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
              .calendar__wrap--mobile-day
                span.calendar__wrap--mobile-title Пн,16
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
              .calendar__wrap--mobile-day
                span.calendar__wrap--mobile-title Пн,16
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
              .calendar__wrap--mobile-day
                span.calendar__wrap--mobile-title Пн,16
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                .calendar__wrap--mobile-time
                  span 1
                  span 2
                

    include ./footer
    script(src='js/jquery-2.1.3.min.js') 
    script(src='js/owl.carousel.min.js') 
    script(src="js/jquery.mousewheel.js") 
    script(src="js/script.js")
