<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Предмет
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous")
    link(rel="stylesheet", href="css/libs.min.css")
    link(rel="stylesheet", href="css/jquery.datetimepicker.css")
    link(rel="stylesheet", href="css/jquery.jscrollpane.css")
    link(rel="stylesheet", href="css/styles.css")

  body
    include ./header
    section.delivery
      .container
        .title__wrap
          h2 Ваши накладные
        include ./period
        .tables__wrap
          .scroll__wrap
            .scroll__wrap--box
              .scroll__wrap--box-title
                span.scroll__wrap--box-address Адрес доставки       
                span.scroll__wrap--box-telephone Телефон 
                span.scroll__wrap--box-recipient Получатель
                span.scroll__wrap--box-product Товар	
                span.scroll__wrap--box-amount Сумма
                span.scroll__wrap--box-date Дата создания
                span.scroll__wrap--box-status Состояние	 
                    
              .scroll__wrap--box-row
                span.scroll__wrap--box-address Авіаторське Відділення №1: вул. Аеродром, буд.10,  прим. 91
                span.scroll__wrap--box-telephone 380506551299
                span.scroll__wrap--box-recipient Приватна особа
                span.scroll__wrap--box-product OLX автозапчастини
                span.scroll__wrap--box-amount 123.00
                span.scroll__wrap--box-date 04.08.2017
                span.scroll__wrap--box-status Замовлення в обробці
                
              .scroll__wrap--box-row
                span.scroll__wrap--box-address Авіаторське Відділення №1: вул. Аеродром, буд.10,  прим. 91
                span.scroll__wrap--box-telephone 380506551299
                span.scroll__wrap--box-recipient Приватна особа
                span.scroll__wrap--box-product OLX автозапчастини
                span.scroll__wrap--box-amount 123.00
                span.scroll__wrap--box-date 04.08.2017
                span.scroll__wrap--box-status Замовлення в обробці
                
              .scroll__wrap--box-row
                span.scroll__wrap--box-address Авіаторське Відділення №1: вул. Аеродром, буд.10,  прим. 91
                span.scroll__wrap--box-telephone 380506551299
                span.scroll__wrap--box-recipient Приватна особа
                span.scroll__wrap--box-product OLX автозапчастини
                span.scroll__wrap--box-amount 123.00
                span.scroll__wrap--box-date 04.08.2017
                span.scroll__wrap--box-status Замовлення в обробці
                
              .scroll__wrap--box-row
                span.scroll__wrap--box-address Авіаторське Відділення №1: вул. Аеродром, буд.10,  прим. 91
                span.scroll__wrap--box-telephone 380506551299
                span.scroll__wrap--box-recipient Приватна особа
                span.scroll__wrap--box-product OLX автозапчастини
                span.scroll__wrap--box-amount 123.00
                span.scroll__wrap--box-date 04.08.2017
                span.scroll__wrap--box-status Замовлення в обробці
   
                
              
    include ./footer
    script(src='js/jquery-2.1.3.min.js') 
    script(src='js/jquery.datetimepicker.full.min.js') 
    script(src='js/jquery.jscrollpane.min.js') 
    script(src="js/jquery.mousewheel.js") 
    script(src="js/script.js")
