header.header
  ul.header__menu
    li.active
      a(href="") Обзор данных
    li
      a(href="") Обсуждения
    li
      a(href="") Склад
    li
      a(href="") Задачи
    li
      a(href="") Профиль сотрудника
    li
      a(href="") Клиент
    li
      a(href="") Счета
    li
      a(href="") Календарь
    li
      a(href="") Сотрудники
    li
      a(href="") План продаж
    li
      a(href="") Сделки
    li
      a(href="") Облачное хранилище
    li
      a(href="") Доставка
    li
      a(href="") Чат 
    li
      a(href="") Звонки 
  .container
    .header__menu--button
      .sandwich
        span.sw-topper
        |               
        span.sw-bottom
        |               
        span.sw-footer

    .header__logo
      img(src="img/logo.png")
    a(href="#").header__user
      i.fa.fa-user(aria-hidden='true')
