form(method='POST' ).period__wrap
  .period__wrap--from
    span От
    input.datepicker-inner(type='text')
  .period__wrap--before
    span До
    input.datepicker-inner(type='text')
  button Применить
