<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Предмет
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous")
    link(rel="stylesheet", href="css/libs.min.css")
    link(rel="stylesheet", href="css/jquery.datetimepicker.css")
    link(rel="stylesheet", href="css/jquery.jscrollpane.css")
    link(rel="stylesheet", href="css/styles.css")

  body
    include ./header
    section.delivery
      .container
        .title__wrap
          h2 Сделки
        include ./search
        .filter-count
          a(href="#").filter-count--item
            span.count.count-turquoise 2
            span.filter-count--item-title Новый
          a(href="#").filter-count--item
            span.count.count-orange 0
            span.filter-count--item-title Недозвон
          a(href="#").filter-count--item
            span.count.count-yellow 0
            span.filter-count--item-title Подумаю
          a(href="#").filter-count--item
            span.count.count-red 0
            span.filter-count--item-title Отказ
          a(href="#").filter-count--item
            span.count.count-blue 0
            span.filter-count--item-title Ожидает оплаты
          a(href="#").filter-count--item
            span.count.count-green 0
            span.filter-count--item-title Оплачен
          a(href="#").filter-count--item
            span.count.count-grey 0
            span.filter-count--item-title Возврат
        .tables__wrap
          form(method='POST' ).tables__wrap--search
            input(type="text" placeholder="ФИО или компания").search__wrap--search
            button Применить
            .transactions-status
              span Заказов:
              p
                | 0 (0) на 0 грн. (оплачено 0 грн.)
            .filter-status
              span  Фильтр по статусу:
              a(href="") Изменить настройки
          .scroll__wrap
            .scroll__wrap--box
              
              .scroll__wrap--box-title
                span.scroll__wrap--box-date Дата	
                span.scroll__wrap--box-name ФИО
                span.scroll__wrap--box-company Компания	   
                span.scroll__wrap--box-telephone Телефон  
                span.scroll__wrap--box-note Заметка    
                span.scroll__wrap--box-email E-mail
                span.scroll__wrap--box-status Статус    
                span.scroll__wrap--box-amount Сумма,грн.    
                span.scroll__wrap--box-recipient Ответственный    
                
              .scroll__wrap--box-row
                span.scroll__wrap--box-date 12.05.2017 14:22	
                span.scroll__wrap--box-name Петренко Иван Юрьевич
                span.scroll__wrap--box-company ЮкрейнКомпани	   
                span.scroll__wrap--box-telephone 0506551290 
                span.scroll__wrap--box-note     
                span.scroll__wrap--box-email
                span.scroll__wrap--box-status 
                    select
                      option Новый 
                      option Новый
                      option Новый
                span.scroll__wrap--box-amount 100    
                span.scroll__wrap--box-recipient Андрей Иванов 
                
              .scroll__wrap--box-row
                span.scroll__wrap--box-date 12.05.2017 14:22	
                span.scroll__wrap--box-name Петренко Иван Юрьевич
                span.scroll__wrap--box-company ЮкрейнКомпани	   
                span.scroll__wrap--box-telephone 0506551290 
                span.scroll__wrap--box-note     
                span.scroll__wrap--box-email
                span.scroll__wrap--box-status 
                    select
                      option Новый 
                      option Новый
                      option Новый
                span.scroll__wrap--box-amount 100    
                span.scroll__wrap--box-recipient Андрей Иванов 
                
              .scroll__wrap--box-row
                span.scroll__wrap--box-date 12.05.2017 14:22	
                span.scroll__wrap--box-name Петренко Иван Юрьевич
                span.scroll__wrap--box-company ЮкрейнКомпани	   
                span.scroll__wrap--box-telephone 0506551290 
                span.scroll__wrap--box-note     
                span.scroll__wrap--box-email
                span.scroll__wrap--box-status 
                    select
                      option Новый 
                      option Новый
                      option Новый
                span.scroll__wrap--box-amount 100    
                span.scroll__wrap--box-recipient Андрей Иванов 
                

    include ./footer
    script(src='js/jquery-2.1.3.min.js') 
    script(src='js/jquery.datetimepicker.full.min.js') 
    script(src='js/jquery.jscrollpane.min.js') 
    script(src="js/jquery.mousewheel.js") 
    script(src="js/script.js")
